* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: darkgrey;
    margin: 0;
    padding: 0;
}

h1 {
  width: 400px;
  margin-bottom: 0;
  flex: 1;
}

nav {
    width: 400px;
    flex: 1;
}

p {
    width: 290px;
}

section {
    display: inline;
    
}

header {
    margin: 0;
    padding: 0;
    display: flex;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 30px;
}

li {
    display: inline;
    margin: 10px;
}

.imageWidth {
    width: 300px;
    display: inline;
}

#aboutMe {
    margin: 0;
    padding: 0;
    font-size: 27px;

}

#myWork {
    margin: 0;
    padding: 0;
    width: 600px;
}

main {
    display: flex;
}

.left, .right {
    flex: 1 0 50%;
}







