* {
font-size: 26px;
font-family: monospace;

}

body {
    background-color: black;
    color: black;
}

nav {
    width: 100%;
    margin-bottom: 50px;
    color:beige;
}


section {
    text-align: center;
}

#myWorkHeader {
    text-align: center;
    margin: 50px;
}

#myWork {
    margin-top: 55px;
    text-align: center;
}

#myWorkTwo {
    text-align: center;
    margin-top: 55px;
}

#myWorkThree {
    margin-top: 55px;
    text-align: center;
}

#myWorkFour {
    margin-top: 55px;
    text-align: center;
}

#myWorkFive {
    margin-top: 55px;
    text-align: center;
}

#myWorkSix {
    margin-top: 55px;
    text-align: center;
}

#myWorkSeven {
    margin-top: 55px;
    text-align: center;
}

#myWorkEight {
    margin-top: 55px;
    text-align: center;
}

#contactMe {
    text-align: center;
}

h3 {
    text-align: center;
    margin-bottom: 25px;
}

#aboutMe {
    width: 710px;
    font-size: 40px;
}

h5 {
    text-align: center;
}

.projectP {
    text-align: center;
}

#footer {
    margin-bottom: 10px;
    margin-top: 10px;
}

.row {
    justify-content: center;
    justify-content: space-evenly;
}

a {
    text-align: center;
}

