* {
font-size: 26px;
font-family: monospace;

}

body {
    background-color: black;
    color: black;
}
nav {
    width: 100%;
    margin-bottom: 50px;
    color: white;
    
}

section {
    text-align: center;
}
h3 {
    text-align: center;
    margin-bottom: 25px;
}
#aboutMe {
    width: 400px;
}

 
#footer {
    margin-bottom: 10px;
}

.row {
    justify-content: center;
    justify-content: space-evenly;
}

#contactMe {
    
}

/* * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: darkgrey;
    margin: 0;
    padding: 0;
}

h1 {
  width: 400px;
  margin-bottom: 0;
  flex: 1;
}

nav {
    width: 400px;
    flex: 1;
}

p {
    width: 370px;
}

section {
  
    
}

header {
    margin: 0;
    padding: 0;
    display: flex;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 30px;
    justify-content: flex-end;
    margin-right: 50px;
}

li {
    display: inline;
    margin: 10px;
}

.imageWidth {
 width: 100%;
}

#aboutMe {
    margin: 0 auto;
    padding: 0;
    font-size: 27px;
    width: 600px;
}

#myWork {
    margin: 0 auto;
    padding: 0;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

main {
    display: flex;
}

.left, .right {
    flex: 1 0 50%;
}

.divWidth {
   width: 50%;
   padding: 10px;
}

.myCaption {
    width: 600px;
}


.imageWidth2 {
    width: 300px;
}
 */
